<h1>formulario de ingreso</h1>

<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            
            <input
            placeholder="ingrese su Email"
            formControlName="Email" 
            type="text" 
            class="form-control" 
            [ngClass]="{'is-invalid': EmailControlInvalid}" value="email@example.com"
            >
            <div class="invalid-feedback">
                <ng-container *ngIf="EmailControl.errors?.['required']"> Este campo es necesario completar</ng-container>
                <ng-container *ngIf="EmailControl.errors?.['email']"> El Email ingresado no es valido</ng-container>
            </div>
        
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
        <div class="col-sm-10">

            <input
            formControlName="Password" 
            type="password" 
            class="form-control" 
            id="inputPassword">
        </div>
    </div>
    <button [disabled]="userform.invalid" class="btn btn-primary" type="submit">Enviar</button>
    </form>